In [2]:
import glob
import pandas as pd
import os
import re

In [3]:
files = glob.glob("/Users/benediktas/dev/University/data-science/tennis/tennis_atp/atp_matches_*.csv")

selected_files = []

for name in files:
    match = re.search(r'atp_matches_(\d{4})\.csv', name)

    if match:
        year = int(match.group(1))
        if 1985 < year:
            selected_files.append(name)

In [4]:
dfs = []
for file in selected_files:
    dfs.append(pd.read_csv(file))

df = pd.concat(dfs)

df['tourney_date'] = pd.to_datetime(df['tourney_date'], format='%Y%m%d', errors='coerce')
df = df.sort_values("tourney_date")

In [5]:
df.head(3)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
58,1986-301,Auckland,Hard,32,A,1986-01-06,28,100452,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,146.0,NaN
61,1986-301,Auckland,Hard,32,A,1986-01-06,31,101185,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,127.0,NaN,43.0,NaN
60,1986-301,Auckland,Hard,32,A,1986-01-06,30,101185,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,127.0,NaN,180.0,NaN

In [6]:
df.isna().sum()

tourney_id                 0
tourney_name               0
surface                   53
draw_size                  0
tourney_level              0
tourney_date               0
match_num                  0
winner_id                  0
winner_seed            74852
winner_entry          110983
winner_name                0
winner_hand                0
winner_ht               2715
winner_ioc                 0
winner_age                26
loser_id                   0
loser_seed             98250
loser_entry           100883
loser_name                 0
loser_hand                 4
loser_ht                5384
loser_ioc                  0
loser_age                 98
score                      0
best_of                    0
round                      0
minutes                31065
w_ace                  28117
w_df                   28117
w_svpt                 28117
w_1stIn                28117
w_1stWon               28117
w_2ndWon               28117
w_SvGms                28117
w_bpSaved              28117
w_bpFaced              28117
l_ace                  28117
l_df                   28117
l_svpt                 28117
l_1stIn                28117
l_1stWon               28117
l_2ndWon               28117
l_SvGms                28117
l_bpSaved              28117
l_bpFaced              28117
winner_rank             1543
winner_rank_points     16580
loser_rank              3231
loser_rank_points      18010
dtype: int64

In [7]:
print(df.isna().sum())

tourney_id                 0
tourney_name               0
surface                   53
draw_size                  0
tourney_level              0
tourney_date               0
match_num                  0
winner_id                  0
winner_seed            74852
winner_entry          110983
winner_name                0
winner_hand                0
winner_ht               2715
winner_ioc                 0
winner_age                26
loser_id                   0
loser_seed             98250
loser_entry           100883
loser_name                 0
loser_hand                 4
loser_ht                5384
loser_ioc                  0
loser_age                 98
score                      0
best_of                    0
round                      0
minutes                31065
w_ace                  28117
w_df                   28117
w_svpt                 28117
w_1stIn                28117
w_1stWon               28117
w_2ndWon               28117
w_SvGms                28117
w_bpSaved              28117
w_bpFaced              28117
l_ace                  28117
l_df                   28117
l_svpt                 28117
l_1stIn                28117
l_1stWon               28117
l_2ndWon               28117
l_SvGms                28117
l_bpSaved              28117
l_bpFaced              28117
winner_rank             1543
winner_rank_points     16580
loser_rank              3231
loser_rank_points      18010
dtype: int64

In [9]:
df.to_csv('/Users/benediktas/dev/University/data-science/tennis/tennis_atp/tennis_atpatp_matches_combined.csv', index=False)
df.shape

(126167, 49)